# 微信小程序
project.private.config.json
miniprogram_npm/

# Node
node_modules/

# Python
.venv/
venv/
__pycache__/

# IDE
.idea/
.vscode/
*.iml

# 系统
.DS_Store
Thumbs.db

# 日志
logs/
tmp/
*.log

# 构建
dist/
build/

# 环境变量
.env
.env.local

# 敏感配置
local.config.js

*.docx
sitemap.json
project.config.json